node_modules
npm-debug.log
coverage.html
.DS_Store
lib-cov
.coverage_data
cover_html
.c9revisions
coverage
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout
*.xcworkspace
!default.xcworkspace
xcuserstate
xcsettings
xcuserdatad